@model IEnumerable<CustomerEngagementPlatform.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h2>Customer List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Add New Customer
    </a>
</p>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>

                <td>
                    <a asp-action="Edit"
                           asp-route-id="@item.CustomerId"
                           class="btn btn-warning">
                        Edit
                    </a>

                    <a asp-action="Delete"
                           asp-route-id="@item.CustomerId"
                           class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>